<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Game</title>
</head>
<body>
    <textarea id="game-log" cols="100" rows="20"></textarea><br>
    <input id="game-input" type="text" size="100"><br>
    <input id="game-submit" type="button" value="Send">
    {{ game_uuid|json_script:"game-uuid" }}
    {{ user_uuid|json_script:"user-uuid" }}
    <script>
        const gameUUID = JSON.parse(document.getElementById('game-uuid').textContent);
        const userUUID = JSON.parse(document.getElementById('user-uuid').textContent);

        const gameSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/game/'
            + gameUUID
            + '/'
            + userUUID
            + '/'
        );

        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#game-log').value += (data.payload.event + '\n');
        };

        gameSocket.onclose = function(e) {
            console.error('Game socket closed unexpectedly');
        };

        document.querySelector('#game-input').focus();
        document.querySelector('#game-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#game-submit').click();
            }
        };

        document.querySelector('#game-submit').onclick = function(e) {
            const eventInputDom = document.querySelector('#game-input');
            const event = eventInputDom.value;
            gameSocket.send(JSON.stringify({
                'event': event
            }));
            eventInputDom.value = '';
        };
    </script>
</body>
</html>